header {
    padding: 20px 0;

    img {
        width: 300px;
    }

    form {
        margin-top: 50px;
    }
}

nav.navbar {
    border: none;
    background-color: rgb(249, 182, 50);

    ul.nav > li {
        > a {
            color: #000;

            &:hover {
                color: #666;
            }
        }

        &.active > a {
            background-color: rgb(229, 152, 20);
            color: #FFF;

            &:hover {
                background-color: rgb(229, 152, 20);
                color: #FFF;
            }
        }
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    margin-top: 20px;
}
