// Place all the styles related to the Rentables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-list {
    .image-container {
        height: 200px;
        text-align: center;
    }

    h2, p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.big-image {
    width: 300px;
}
